.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
__MACOSX/sedona/preview/._styleguide.jpg
__MACOSX/sedona/preview/._sedona-index.jpg
__MACOSX/sedona/preview/._sedona-hotels.jpg
__MACOSX/sedona/fonts/web/._ptsansbold.woff2
__MACOSX/sedona/fonts/web/._ptsansbold.woff
__MACOSX/sedona/fonts/web/._ptsans.woff2
__MACOSX/sedona/fonts/web/._ptsans.woff
__MACOSX/sedona/fonts/._web
__MACOSX/sedona/fonts/._ptsans.zip
__MACOSX/sedona/._preview
__MACOSX/sedona/._fonts
__MACOSX/._sedona
